@tailwind base;
@tailwind components;
@tailwind utilities;

$color1: #f0410c; // Světlejší šedá
$color2: #ea9e06; // Tmavší šedá

body {
	margin: 0;
	width: 100%; // Šířka elementu
	height: 100vh; // Výška na celou obrazovku
	background: linear-gradient(to bottom, $color1, $color2); // Přechod zhora dolů
}
